<h2>Vehicles</h2>
<p>
  <a [routerLink]="['/vehicles/new']" class="btn btn-primary">New Vehicle</a>
</p>
<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Make</th>
      <th>Model</th>
      <th>Contact Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let v of vehicles">
      <td>{{v.id}}</td>
      <td>{{v.makeName}}</td>
      <td>{{v.modelName}}</td>
      <td>{{v.contactName}}</td>
      <td>
        <a [routerLink]="['/vehicles/',v.id]">View</a>
      </td>
    </tr>
  </tbody>
</table>
